<div>
    <input [(ngModel)]="newTodo" placeholder="Enter todo name" required/>
    <button (click)="addTodo()">Add</button>
</div>




<div *ngIf="displayEditTextbox">
    <input [(ngModel)]="selectedTodo.name" placeholder="Name"/>
    <button (click)="updateTodo()">Save</button>     
</div>
<ul class="heroes">
    <li *ngFor="let todo of todosList">
        <span class="badge"  (click)="onSelect(todo)" > {{todo.name}}</span>
        <span (click)="deleteTodo(todo)" class="delete">X</span>
    </li>
</ul>